body{background-color:rgb(181,211,231);
    display: flex;
    justify-content: center;
    }

.box
    {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    width: 40%;
    margin-block: 20%;
	border-radius: 10px 10px 10px;
    background-color: white;
    padding: 1em 1em 1em 1em;
    }
IMG
    {width: 100%;
    border-radius: 10px 10px 10px;
    }

p {opacity: 50%;}